#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  pointer-events: none;
  .footer-nav {
    @include flex($justify: center);
    padding: var(--main-margin);
  }
  .nav-list {
    @include flex();
    column-gap: 28px;
    li {
      opacity: 0.4;
      transition: 0.2s;
      pointer-events: all;
      a {
        @extend p;
        @extend .subEng-font;
        color: $main-color;
      }
      &.selected {
        opacity: 1;
      }
    }
  }
}
