#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.header-inner {
  @include flex($justify: center);
  padding: 48px;
  position: relative;
}

.header-logo {
  a {
    font-family: var(--mainEng-font);
    font-variation-settings: "wght" 800;
    color: var(--main-color);
    font-size: 28px;
  }
}

.header-info {
  position: absolute;
  right: 48px;
  width: 48px;
  height: 48px;
  background-image: url(../../../assets/img/icon_user.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
