#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  pointer-events: none;
  .header-inner {
    @include flex($justify: center);
    position: relative;
    padding: var(--main-margin);
  }
  .header-logo {
    a {
      font-size: 28px;
      @extend .mainEng-font;
      color: $main-color;
      pointer-events: all;
    }
  }
  .header-info {
    position: absolute;
    right: var(--main-margin);
    width: 48px;
    height: 48px;
    background-image: url(../../../assets/img/icon_user.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    pointer-events: all;
  }
}
